body.login #login {
	padding-top: 5%;
}
body.login #login h1 a {
    background-image: url( 'https://ucarecdn.com/4c4c8a06-ff18-49b0-bda3-a6a220c57d3f/logoagpagenciaadmin.png' ) !important;
    background-size: 100% !important;
    height: 130px !important;
    padding-bottom: 30px;
    width: 100% !important;
}
body.login {
	background-image: url( 'https://ucarecdn.com/56cde232-5cbc-4a41-9d80-e08185a602b8/bgadmin.jpg' ) !important;
	background-size: 100%;
    background-color: #f1f1f1;
    background-attachment: fixed;
}
body.login #loginform {
    border-radius: 5px;
}
body.login #nav,
body.login #backtoblog {
    text-align: center;
}
body.login .help-from-agp {
    border-radius: 5px;
    margin: 20px auto;
    width: 270px;
    padding: 24px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    line-height: 1.6em;
    text-align: center;
}

body.login .help-from-agp a {
	color: red !important;
}